@import "../../scss/variables";

.full-length-block-element {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.clear-block {
  @extend .full-length-block-element;
  clear: both;
  height: 0;
  text-indent: -9999px;
}
.app-wrapper {
  &-inner {
    @extend .full-length-block-element;
  }
  &-form {
    @extend .full-length-block-element;
    margin: 15px 0;
  }
  &-form-input-wrapper {

  }

  &-lower-block {
    @extend .full-length-block-element;
    overflow: hidden;
  }
  &-results-block {
    @extend .full-length-block-element;
    width: 95%;
    margin: 0;
    @media(min-width: 769px) {
      width: 45%;
      float: left;
    }
    p {
      text-align: center;
      margin: 0 0 15px 0;
    }
  }
  &-selected-user-block {
    @extend .full-length-block-element;
    margin-bottom: 20px;
    @media(min-width: 769px) {
      width: 45%;
      float: right;
    }
    img {
      position: relative;
      display: block;
      max-width: 300px;
      width: 100%;
      margin: 0 auto ;
      padding: 0;
    }
    ul {
      list-style-type: disc;
    }
  }
  &-selected-user-wrapper {
    @extend .full-length-block-element;
  }

  &-user-thumb-block {
    @extend .full-length-block-element;
    width: 97%;
    height: 110px;
    padding: 5px;
    border: 1px solid $black;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      background-color: $darkgrey;
      color: $white;
    }
    img {
      position: relative;
      float: left;
      max-width: 50px;
      width: 100%;
      margin: 0 0 5px 0;
      padding: 0;
      border-radius: 5px;
    }
  }
  &-thumb-info-block {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    h4 {

    }
    span {
      display: block;
      word-wrap: break-word;
    }
  }

}
